#demo{
	overflow:hidden;
	width:800px;
	height:350px;
	visibility:hidden;
	position:relative;
	
}
#text {
	width:300px;
	margin-top:-50px;
	position:relative;
}
h1 {
	position:relative;
	color:white;
	font-size:70px;
	font-weight:400;
   margin-top:10px;
	width:300px;
	color:#ccc;
	display:inline-block;
	font-family:kanit;
	font-style:italic;
	font-weight:500;
}

img {margin-top:100px;position:relative;}

.star {
	width:10px;
	height:2px;
	background:#ff6600;
	position:absolute;
	top:0;
}

#soon{
	width:800px;
	position:absolute;
	line-height:350px;
	text-align:center;
	color:white;
	font-size:80px;
	font-weight:500;
	visibility:hidden;
}